*{ margin:  0;
    padding: 0;}
a {
    all: unset;
}
a:hover {
    color:#072AC8;
  }
.getinTouch:hover{
    color: white;
    background-color: #0757c8;
}
.seeourWork:hover {
    color: #292E47;
  }
.header{
    justify-content: center;
    display: none;
}
.margin-index{
    width: 85%;
    margin: 3% 7.5% 3% 7.5%;
}
.flex{
    display: flex;
}

.home {
    height: 60vh;
    flex-direction: column;
    justify-content: space-around;
}
.home h1 {
    font-size: 2.8rem;
    margin: 0px 0px -30px 0px
}

.buttonsHero {
    width: 300px;
    justify-content: flex-start;
}
.heroComposition{
    position: relative;
    width: 80vw;
}
.hero {
    margin-left: 10vw;
    width: 70vw;
}
.creditcard {
    position: absolute;
    width: 50vw;
}
.card1 {
    left:-25px;
}
.card2 {
    left: 56%;
    top:60%;
}
.buttonContact :hover{
    color: white;
    background-color: #0757c8;
}

/* //// TABLET /// */
@media (min-width: 769px) and (max-width: 1023px) {
    .burgerHeader{
        display: none;
    }
    .header{
        display: flex;
        justify-content: center;
    }
    .navbar{
        margin-top: 50px;
        justify-content: space-between;
        width: 85%;
    }
    .menu{
        justify-content: space-between;
        width: 30%;
        align-items: center;
    }
    .logo{
        height: 21px;
        align-items: center;
        padding: 9px 0 0 0;
    }
    .buttonContact{
        align-items: center;
    }
    .section1 {
        display: flex;
        width: auto;
        height: 70vh;
    }
    .heroComposition{
        position: relative;
        width: 51vw;
        height:78vh;
    }
    .buttonsHero {
        width: 400px;
    }
    
    .hero {
        margin-left: 10vw;
        width: 48vw;
    }
    .creditcard {
        position: absolute;
        width: 25vw;
    }
    .home {
        margin-top: 5%;
        margin-right: 0;
        width: 30vw;
        height: 60vh;
    }
    .home h1 {
        margin-bottom: 15px;
        width: 36vw;
        font-size: 2.6rem;
    }
    .home p {
        margin-top: -40px;
    }
    .card2{
        left: 66%;
    }
    .card1{
        left: 18px;
    }


}
/* /// DESKTOP //// */

@media (min-width:1024px){
    .burgerHeader{
        display: none;
    }

    .header{
        justify-content: center;
        display: flex;
    }
    .navbar{
        margin-top: 50px;
        justify-content: space-between;
        width: 85%;
    }
    .menu{
        justify-content: space-between;
        width: 25%;
        align-items: center;
    }
    .logo{
        height: 21px;
        align-items: center;
        padding: 9px 0 0 0;
    }
    .buttonContact{
        align-items: center;
    }
    .section1 {
        display: flex;
        align-items: center;
        width: auto;
        height: 75vh;
        margin-bottom: 200px;
    }
    .heroComposition{
        position: relative;
        width: 51vw;
        height:78vh;
    }
    .hero {
        margin-left: 10vw;
        width: 48vw;
    }
    .creditcard {
        position: absolute;
        width: 30vw;
    }
    .home {
        margin-right: 0;
        width: 30vw;
    }
    .home h1 {
        width: 36vw;
        margin:0;
    }
    .home p {
        margin-top: -80px;
    }
    .card2{
        left: 66%;
    }
    .card1{
        left: 18px;
    }
}


.head-1 img{
    width: 100%;
}
.brands {
    flex-wrap: wrap;
    justify-content: space-around;
    }
.brands img{
    padding:5%
}




.projects {
    background-color: beige;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.projects-article {
    width: 25%;
    padding: 0.85rem 1.5rem 1.5rem 1.5rem;
}
.projects-article img{
    width: 100%;
}

.reviews{    
    background-color: #292E47;
    color: white;
    flex-direction: column;
}
.reviews img{
    width: 15%;
    height: 15%;
 }
 .reviews h6{
    color: #FFC600;
    text-align: center; 
    width: 50%;   
    margin : 10% 10% 10% 10%;
}
.reviews-container{     
    padding-top: 5% 0% 5% 0%;
    justify-content: space-between;
    align-items: flex-end;
    
}

.reviews-container h4{    
    text-align: center; 
    width: 60%;  
    align-items: baseline;
}
.reviews-container q{  
   text-align:center;
    color: #FFC600;
    margin: 10%;
}
.review-container{
    max-width: 40%;
    justify-content: center;
}
.review-container img{
    border-radius: 100%;
    height: 40%;
    align-self: center;
    padding: 2%;
}
.review-text-container{
    margin: 0;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.name{
    color: #43d2ff;    
}
.brand{
    color: white;
}

.services{
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
}
.services-tittle{
    margin : 0 25% 0 25% 0;
}
.services-container{
    background-color: white;
    width: 35%;
    margin : 5%;
    padding: 7%;
}
.services-container a{
    color: #072AC8;
}
.services-container img{
    padding: 7%;
    border-radius: 100%;
    background-color: #F2F4FC;
}

.questions{    
    background-color: #FFC600;
    text-align: center;
    padding: 6%;   
}
.questions h6{
    margin: 5%; 
}
.questions img{
    width: 30%;
}
.questions input{
    border: 0px solid;
    height: 100%;
 }

.input-holder{
    height:20vh;
}
.input-wrapper{
    position: relative;
}

.footer{
    justify-content: space-between;
    align-items: center;    
}
.footer img{
    padding: 5% 5% 5% 0;    
}
.footer-left-side{
    width : 30%;
}
.footer-right-side {
    width: 45%
    }
.link-container{
    padding: 10%;;
}
.link {
    margin: 10%;
    font-family: 'Roboto', sans-serif;
}





