* {
    margin: 0;
    padding: 0;
}

a {
    all: unset;
}
a:hover {
    color:#072AC8
  }


/* //// TABLET /// */
@media (min-width: 769px) and (max-width: 1023px) {

}
/* /// DESKTOP //// */

@media (min-width:1024px){

    .header{
        justify-content: center;
    }
    .navbar{
        margin-top: 50px;
        justify-content: space-between;
        width: 85%;
    }
    .menu{
        justify-content: space-between;
        width: 25%;
        align-items: center;
    }
    .logo{
        height: 21px;
        align-items: center;
        padding: 9px 0 0 0;
    }
    .buttonContact{
        align-items: center;
    }

}