*{ margin:  0;
    padding: 0;}
a {
    all: unset;
}
a:hover {
    color:#072AC8;
  }
.header{
    justify-content: center;
    display: none;
}
.margin-index{
    width: 85%;
    margin: 3% 7.5% 3% 7.5%;
}
.flex{
    display: flex;
}


/* //// TABLET /// */
@media (min-width: 769px) and (max-width: 1023px) {
    .burgerHeader{
        display: none;
    }
    .header{
        display: flex;
        justify-content: center;
    }
    .navbar{
        margin-top: 50px;
        justify-content: space-between;
        width: 85%;
    }
    .menu{
        justify-content: space-between;
        width: 30%;
        align-items: center;
    }
    .logo{
        height: 21px;
        align-items: center;
        padding: 9px 0 0 0;
    }
    .buttonContact{
        align-items: center;
    }

}
/* /// DESKTOP //// */

@media (min-width:1024px){
    .burgerHeader{
        display: none;
    }

    .header{
        justify-content: center;
        display: flex;
    }
    .navbar{
        margin-top: 50px;
        justify-content: space-between;
        width: 85%;
    }
    .menu{
        justify-content: space-between;
        width: 25%;
        align-items: center;
    }
    .logo{
        height: 21px;
        align-items: center;
        padding: 9px 0 0 0;
    }
    .buttonContact{
        align-items: center;
    }
}

.head-1 img{
    width: 100%;
}
.brands {
    flex-wrap: wrap;
    justify-content: space-around;
    }
.brands img{
    padding:5%
}
.projects {
    background-color: beige;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.projects-article {
    width: 25%;
    padding: 0.85rem 1.5rem 1.5rem 1.5rem;
}
.projects-article img{
    width: 100%;
}

.reviews{    
    background-color: #292E47;
    color: white;
    flex-direction: column;
}
.reviews img{
    width: 15%;
    height: 15%;
 }
 .reviews h6{
    color: #FFC600;
    text-align: center; 
    width: 50%;   
    margin : 10% 10% 10% 10%;
}
.reviews-container{     
    padding-top: 5% 0% 5% 0%;
    justify-content: space-between;
   align-self: center;
}

.reviews-container h4{    
    text-align: center; 
    width: 50%;     
}
.reviews-container q{  
   text-align:center;
    color: #FFC600;
    margin: 10%;
}
.review-container{
    max-width: 40%;
    justify-content: center;
}
.review-container img{
    border-radius: 100%;
    height: 40%;
    align-self: center;
    padding: 2%;
}
.review-text-container{
    margin: 0;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.name{
    color: #43d2ff;    
}
.brand{
    color: white;
}

.services{
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
}
.services-tittle{
    margin : 0 25% 0 25% 0;
}
.services-container{
    background-color: white;
    width: 35%;
    margin : 5%;
    padding: 7%;
}
.services-container a{
    color: #072AC8;
}
.services-container img{
    padding: 7%;
    border-radius: 100%;
    background-color: #F2F4FC;
}

.questions{    
    background-color: #FFC600;
    text-align: center;
    padding: 6%;   
}
.questions input{
    border: 0px solid;
    padding: 1%;
    height: 15%;
}
.questions h6{
    margin: 5%; 
}
.questions img{
    width: 30%;
}
.input-wrapper{
    position: relative;
}
.input-icon{
    <svg id="svgelem" height="200" xmlns="http://www.w3.org/2000/svg">
    <circle id="redcircle" cx="50" cy="50" r="50" fill="red" />
</svg>
}

.footer{
    justify-content: space-between;
    align-items: center;    
}
.footer img{
    padding: 5% 5% 5% 0;    
}
.footer-left-side{
    width : 30%;
}
.footer-right-side {
    width: 45%
    }
.link-container{
    padding: 10%;;
}
.link {
    margin: 10%;
    font-family: 'Roboto', sans-serif;
}




